.pwCalc .pwd {
	font-family: monospace;
	padding-top: 10px;
	text-align: center;
	font-size: 127%;
}

.pwCalcSuggestion {
	background-color: rgba(0,5,15,0.20);
	color:white;
	margin-left:12px;
	margin-right:12px;
	box-shadow: inset 7px 0 4px -7px rgba(0,0,0,0.4);
	border:1px solid black;
	border-top:0;
	border-bottom:0;
	border-radius:0;
	border-color:#222;
}

.pwCalcSuggestion:focus,
.pwCalcSuggestion:hover {
	background-color: rgba(255,255,255,0.07);
}

.pwCalc .heading {
	text-align: center;
	padding-bottom: 12px;
}

.pwCalc {
	padding:0px 12px;
}

.pwCalc .last {
	border-radius:0px 0px 8px 8px;
	border-color: #222;
	border-width: 1px;
	margin:0;
}

.pwCalc .last:focus {
	border-color:#215d9c;
}

.pwCalc .first:focus {
	border-color:#215d9c;
}

.pwCalc .first {
	border-radius:8px 8px 0px 0px;
	border-color: #222;
	border-width: 1px;
	margin:0;
}
