.pwCalc .pwd {
    font-family: monospace;
    padding-top: 10px;
    text-align: center;
    font-size: 127%;
}

.pwCalc .heading {
    text-align: center;
    padding: 4px;
}

.pwCalc {
	padding:0px 12px;
}

.pwCalc .last {
	border-radius:0px 0px 8px 8px;
}

.pwCalc .first {
	border-radius:8px 8px 0px 0px;
}
